In [1]:
##USEFUL LINKS:
#https://pypi.org/project/rake-nltk/ -> lib for RAKE short for Rapid Automatic Keyword Extraction algorithm

In [20]:
import sys
!{sys.executable} -m pip install nltk
!{sys.executable} -m pip install rake-nltk
!{sys.executable} -m pip install sqlalchemy
!{sys.executable} -m pip install pandas

Requirement already satisfied: nltk in c:\users\przefur\appdata\local\programs\python\python36\lib\site-packages (3.4.1)
Requirement already satisfied: six in c:\users\przefur\appdata\local\programs\python\python36\lib\site-packages (from nltk) (1.12.0)
Requirement already satisfied: rake-nltk in c:\users\przefur\appdata\local\programs\python\python36\lib\site-packages (1.0.4)
Requirement already satisfied: nltk in c:\users\przefur\appdata\local\programs\python\python36\lib\site-packages (from rake-nltk) (3.4.1)
Requirement already satisfied: six in c:\users\przefur\appdata\local\programs\python\python36\lib\site-packages (from nltk->rake-nltk) (1.12.0)
Requirement already satisfied: sqlalchemy in c:\users\przefur\appdata\local\programs\python\python36\lib\site-packages (1.3.3)
Collecting pandas
  Downloading https://files.pythonhosted.org/packages/d0/4e/9db3468e504ac9aeadb37eb32bcf0a74d063d24ad1471104bd8a7ba20c97/pandas-0.24.2-cp36-cp36m-win_amd64.whl (8.8MB)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\przefur\appdata\local\programs\python\python36\lib\site-packages (from pandas) (2.8.0)
Collecting pytz>=2011k (from pandas)
  Downloading https://files.pythonhosted.org/packages/3d/73/fe30c2daaaa0713420d0382b16fbb761409f532c56bdcc514bf7b6262bb6/pytz-2019.1-py2.py3-none-any.whl (510kB)
Requirement already satisfied: numpy>=1.12.0 in c:\users\przefur\appdata\local\programs\python\python36\lib\site-packages (from pandas) (1.16.1)
Requirement already satisfied: six>=1.5 in c:\users\przefur\appdata\local\programs\python\python36\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-0.24.2 pytz-2019.1

In [21]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Przefur\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [30]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.schema import Table, DropTable
from rake_nltk import Rake, Metric
import pandas as pd
import os.path

In [31]:
%matplotlib inline

In [32]:
Session = sessionmaker()
engine = create_engine('sqlite:///ztis.db')

In [33]:
feeds = pd.read_sql_query('SELECT * FROM ztis', engine)
print(feeds.shape)

(3527, 6)

In [34]:
feeds[:5]

,id,source,title,summary,publication_date,author
0,1,BBC\n,Labour pledges £10 minimum wage for under-18s,Jeremy Corbyn unveils plans for under-18s to b...,"Sat, 11 May 2019 14:27:26 GMT",default
1,2,BBC\n,Brexit: Gavin Williamson attacks Theresa May's...,The recently sacked defence secretary says neg...,"Sat, 11 May 2019 23:04:45 GMT",default
2,3,BBC\n,Theresa May could set exit date this week - Si...,Senior Tory Sir Graham Brady says he expects t...,"Sat, 11 May 2019 15:06:51 GMT",default
3,4,BBC\n,Sajid Javid: I get abuse because of my colour,Home secretary tells BBC he is criticised for ...,"Fri, 10 May 2019 15:45:21 GMT",default
4,5,BBC\n,Stormont stalemate: Coveney hopes for progress...,Simon Coveney says two governments will do som...,"Fri, 10 May 2019 10:48:30 GMT",default

# Basic RAKE usage example

In [35]:
r = Rake() # Uses stopwords for english from NLTK, and all puntuation characters.
text = feeds["summary"].iloc[0]
text

'Jeremy Corbyn unveils plans for under-18s to be paid £10 an hour, rather than the current £4.35.'

In [36]:
r.extract_keywords_from_text(text)

r.get_ranked_phrases()

['jeremy corbyn unveils plans',
 'paid £ 10',
 'current £ 4',
 'rather',
 'hour',
 '35',
 '18s']

# Advanced RAKE usage example

In [51]:
r2 = Rake(language='english')

In [57]:
r2 = Rake()
#r2 = Rake(ranking_metric=Metric.WORD_DEGREE)
#r2 = Rake(ranking_metric=Metric.WORD_FREQUENCY)
r2.extract_keywords_from_text(text)
r2.get_ranked_phrases_with_scores()

[(16.0, 'jeremy corbyn unveils plans'),
 (9.0, 'paid £ 10'),
 (9.0, 'current £ 4'),
 (1.0, 'rather'),
 (1.0, 'hour'),
 (1.0, '35'),
 (1.0, '18s')]

In [65]:
r = Rake(stopwords=['rather','hour'],punctuations=['-','.'],language='english')
r.extract_keywords_from_text(text)
r.get_ranked_phrases_with_scores()

[(48.0, '18s to be paid £ 10 an'),
 (36.0, 'jeremy corbyn unveils plans for under'),
 (26.0, 'than the current £ 4'),
 (1.0, '35'),
 (1.0, ',')]

In [66]:
r.get_word_frequency_distribution()

Counter({'18s': 1,
         'to': 1,
         'be': 1,
         'paid': 1,
         '£': 2,
         '10': 1,
         'an': 1,
         ',': 1,
         'than': 1,
         'the': 1,
         'current': 1,
         '4': 1,
         'jeremy': 1,
         'corbyn': 1,
         'unveils': 1,
         'plans': 1,
         'for': 1,
         'under': 1,
         '35': 1})

In [67]:
r.get_word_degrees()

defaultdict(<function rake_nltk.rake.Rake._build_word_co_occurance_graph.<locals>.<lambda>()>,
            {'18s': 7,
             'to': 7,
             'be': 7,
             'paid': 7,
             '£': 12,
             '10': 7,
             'an': 7,
             ',': 1,
             'than': 5,
             'the': 5,
             'current': 5,
             '4': 5,
             'jeremy': 6,
             'corbyn': 6,
             'unveils': 6,
             'plans': 6,
             'for': 6,
             'under': 6,
             '35': 1})